
th{
    background-color: black;
    color: white;
    width: 10%;
}
tr{
    background-color: grey;
    color: white;
}
tr:hover{
    background-color: white;
    color: black;
}

.active{
    /* background-color: black; */
    color: gold !important;
    border-bottom: 2px solid gold;
}
